extends layout

block content

    div(class = "serviceSec")
        p Mens
        ul
            each item in config.mens
                div(class='menu_item')
                li(id=item[0]) #{item[0]} #{item[1]} #{item[2]}

    div(class = "serviceSec")
        p Womens
        ul
            each item in config.womens
                div(class='menu_item')
                li(id=item[0]) #{item[0]} #{item[1]} #{item[2]}


    div(class = "serviceSec")
        p Products
        ul
            each item in config.products
                div(class='menu_item')
                li(id=item[0]) #{item[0]} #{item[1]} #{item[2]}